*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container{
    width: 100%;
    height: 900px;
    background: url(pollakbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.8em);
}
.bg-text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 900px;
    text-align: center;
    padding-top: 140px;
}
h1{
    font-size: 4.5rem;
}
p{
    font-size: 1.5rem;
}
button{
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: 0px;
    background:rgb(78, 151, 87);
    color: white;
    font-size: 20px;
    cursor: pointer;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
.svg{
    width: 100%;
    position: absolute;
}

.container-2{
    height: 1000px;
    background:rgb(182, 179, 179);
    padding: 30px;
    color: white;
    text-align: center;
}
.footer{
    text-align: center;
    background: rgb(40, 41, 70);
    color: grey;
    padding: 30px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 27%;
    right: 34%;
    border: 3px solid #f1f1f1;
    border-radius: 12px;
    z-index: 9;
    width: 600px;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 600px;
    padding: 10px;
    background-color: rgb(135, 135, 135);
    border-radius: 12px;
    color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  input{
    border-radius: 12px;
  }